@import "variable";
/*****************Business*******************/
.business{
  background: white;

  .business-body{
    padding: 40px 0;

    display: flex;
    align-items: center;

    @media (max-width: 845px){
      flex-wrap: wrap;
      flex-direction: column;
    }

    .business-item{
      margin: 0 360px 0 0;

      @media (max-width: 1105px){
        margin: 0 300px 0 0;
      }
      @media (max-width: 1045px){
        margin: 0 200px 0 0;
      }
      @media (max-width: 945px){
        margin: 0 100px 0 0;
      }
      @media (max-width: 845px){
        margin: 0 0 30px 0;
        text-align: center;
      }

      & > *:not(:last-child){
        margin: 0 0 10px 0;
      }

      .business-title{
        font-size: 24px;
        font-weight: 700;

        line-height: calc(32 / 24 * 100%);

        color: $colorTitle;
      }
      .business-text{
        font-size: 14px;
        font-weight: 500;

        line-height: calc(20 / 14 * 100%);
        letter-spacing: .2px;

        color: $colorText;
      }
    }
    .business-item__button{
      padding: 0 26px;

      .item-button{
        font-size: 14px;
        font-weight: 700;

        padding: 15px 40px;

        line-height: calc(28 / 14 * 100%);

        letter-spacing: .2px;

        color: white;
        background: #FF7B47;

        border-radius: 5px;
      }
    }
  }
}
/***************Link******************/
.link{
  background: #17213C;

  .link-body{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;

    .link-columns{
      display: flex;

      flex: 0 1 18%;

      @media (max-width: 960px){
        flex: 0 1 33.333%;
        margin: 0 0 60px 0;
      }
      @media(max-width: 640px){
        flex: 0 1 50%;
      }
      @media(max-width: 376px){
        flex: 0 1 100%;
      }

      & > *:not(:last-child){
        margin: 0 30px 0 0;
      }

      .link-item{

        & > *:not(:last-child){
          padding: 0 0 30px 0;
        }
        .link-title{
          font-size: 16px;
          font-weight: 700;

          line-height: calc(24 / 16 * 100%);

          color: white;

          letter-spacing: .1px;
        }
        .link-info{

          & > *:not(:last-child){
            margin: 0 0 10px 0;
          }

          li{
            a{
              font-size: 14px;
              font-weight: 600;

              line-height: calc(24 / 14 * 100%);

              color: white;
            }
          }
        }
        .info{
          .link-data{
            display: flex;

            & > *:not(:last-child){
              margin: 0 10px 0 0;
            }

            .data-text{
              font-size: 14px;
              font-weight: 600;

              line-height: calc(24 / 14 * 100%);

              color: white;
            }
          }
        }
      }
    }
  }
}
/*********************************/
.website-body{
  .website-item{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: 376px){
      flex-direction: column;
    }

    .website-text{
      flex: 0 1 50%;
      font-size: 14px;
      font-weight: 600;

      line-height: calc(24 / 14 * 100%);

      color: $colorText;

      @media (max-width: 376px){
        text-align: center;
        padding: 0 0 30px 0;
      }
    }

    .website-img{
      display: flex;
      flex: 0 1 23%;
      justify-content: center;
      align-items: center;

      & > *:not(:last-child){
        margin: 0 20px 0 0;
      }
    }
  }
}