@import "variable";

.header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;

  .container{
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: content-box;
  }

  .header__container{
    display: flex;
    min-height: 104px;

    align-items: center;

    .header__logo{
      font-size: 24px;
      font-weight: 700;

      line-height: 32px;

      color: $colorTitle;
    }

    .header__menu{
      margin: 0 0 0 132px;
      @media (max-width: 1024px) {
        margin: 0 0 0 80px;
      }
      @media (max-width: 768px) {
        margin: 0 0 0 60px;
      }

      .menu__list{
        display: flex;
        flex-wrap: wrap;
        .menu__item{
          .menu__link{

            font-size: 14px;
            font-weight: 600;

            line-height: calc(24 / 14 * 100%);

            color: $colorText;
          }
        }
        .menu__item:not(:last-child){
          margin: 0 21px 0 0;
        }
      }
    }
  }
}
